Source: vsphere-client
Section: web
Priority: extra
Maintainer: Alcatel-Lucent Personal Cloud R&D <dev@opentouch.net>
Uploaders: Alcatel-Lucent Personal Cloud R&D <dev@opentouch.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2
Xs-Vcs-Git: https://github.com/OpenTouch/vsphere-client.git

Package: vsphere-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, pyvmomi
Description: vSphere CLI client and library
 vSphere CLI client and library

